* {
  margin: 0%;
  padding: 0%;
}
.main {
  background-color: #f3f2ef;
}
.homeContainer {
  font-family: sans-serif;
  width: 75%;
  /* border: 1px solid black; */
  display: flex;
  height: 100vh;
  margin: auto;
  padding-top: 70px;
  gap: 2%;
}
.leftSide {
  flex: 2;
  /* border: 1px solid blue; */
}
.middleSide {
  flex: 4;
  border: 1px solid black;
}
.rightSide {
  flex: 2;
  border: 1px solid black;
}
.profileDiv {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 8px;
  background-color: white;
}
.backGroundDiv {
  width: 100%;
  text-align: center;
}
.bgImg {
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.avatarImg {
  width: 70px;
  height: 70px;
  margin-top: -45px;
  border-radius: 50%;
}
.avatarName {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
}
.avatarName:hover {
  text-decoration: underline;
}
.avatarAbout {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.hr {
  height: 0.5px;
  width: 100%;
  background-color: rgb(198, 198, 198);
}
.viewes {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  padding: 5px 8px;
  cursor: pointer;
  justify-content: space-between;
}
.viewes:hover {
  background-color: #e8e8e8;
}
.viewes > h3 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.viewes > h4 {
  font-size: 12px;
  font-weight: 600;
  color: #001eff99;
}
.premium {
  text-align: left;
  padding: 10px;
  cursor: pointer;
}
.premium:hover {
  background-color: #e8e8e8;
}
.premium > p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.premium > h4 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(68, 68, 68, 0.9);
}
.squire {
  color: #e49400;
}
.items {
  text-align: left;
  padding: 16px 8px;
  cursor: pointer;
  border-radius: 0 0 8px 8px;
}
.items:hover {
  background-color: #e8e8e8;
}
.items > h4 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(68, 68, 68, 0.9);
}
.bookmark {
  color: black;
  font-size: 14px;
  margin-right: 8px;
}
.groups {
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: white;
}
.h4Color {
  padding: 8px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #0659ab;
  cursor: pointer;
}
.h4Color:hover {
  text-decoration: underline;
}
.events {
  display: flex;
  justify-content: space-between;
}
.events > h5 {
  margin-right: 5px;
  padding: 2px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
  color: #858585;
}
.events > h5:hover {
  background-color: #e8e8e8;
  color: #000000;
}
.discover {
  padding: 18px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #626262;
}
.discover:hover {
  background-color: #e8e8e8;
}
.top {
  padding-bottom: 8px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: white;
}
.searchDiv {
  padding: 10px;
  display: flex;
}
.searchDiv > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 12px;
}
.searchDiv > input {
  height: 47px;
  width: 90%;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  border-radius: 30px;
  border: 1px solid silver;
}
.buttons {
  /* border: 1px solid black; */
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.fa-solid {
  color: rgb(0, 163, 227);
  font-size: 23px;
  margin-right: 8px;
}
.btnicon {
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.btnicon > span {
  text-align: center;
}
.icontext {
  margin-top: 5px;
  font-size: 14px;
}
.btnicon:hover {
  background-color: #e8e8e8;
}
/* -----------Post css here ----------------- */
.postsMainDiv {
  margin: 20px auto;
  border: 1px solid;
  border-radius: 8px;
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}
.useDetails {
  display: flex;
  margin: 20px auto;
}
.userAvatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 13px;
  margin-right: 5px;
  border-radius: 50%;
}
.avatarDetails > h4 {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #323232;
  display: inline-block;
}
.avatarDetails > h4:hover {
  color: #0168cf;
  text-decoration: underline;
}
.avatarDetails > p {
  font-size: 13px;
  font-weight: 400;
  color: #5b5b5b;
}
.postime {
  display: flex;
}
.postime > p {
  font-size: 13px;
  font-weight: 400;
  color: #5b5b5b;
}
.dot {
  height: 4px;
  width: 4px;
  margin: 5px 8px;
  border-radius: 50%;
  background-color: #3d3d3d;
}
.earthIcon {
  color: #565656;
  font-size: 15px;
}
.followbtn {
  border: none;
  display: flex;
  cursor: pointer;
  margin-left: 3%;
  font-size: 18px;
  padding: 1px 8px;
  color: #0168cf;
  font-weight: 600;
  border-radius: 5px;
  height: fit-content;
}
.followbtn:hover {
  transition: all ease 0.5s;
  background-color: #3899fa29;
}
.followbtn > p {
  font-size: 28px;
  font-weight: 400;
  margin-right: 5px;
}
.followbtn > h5 {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}
.aboutPost {
  font-size: 13px;
  font-weight: 400;
  color: #3f3f3f;
  margin-left: 14px;
  /* margin-bottom: 10px; */
}
.postPicture {
  width: 100%;
  height: 400px;
  margin: 10px auto;
}
.postPicture > img {
  height: 100%;
  width: 100%;
}
.likes {
  display: flex;
  margin-left: 17px;
}
.likes > p {
  font-size: 14px;
  color: #4e4e4e;
}
.likeIcon{
  display: flex;
  margin-bottom: 5px;
}
.likeIcon>div{
  color: #d0e8ff;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px 3px;
  background-color: #378fe9;
}
.lightIcon:nth-child(3){
  padding-top: 3px;
  margin-left: -3px;
  color: #ffe3e3;
  background-color: #df704d;
}
.lightIcon:nth-child(2){
  margin-left: -3px;
  color: #fcf8f0;
  background-color: #f5bb5c;
  margin-right: 3px;
}
